:host {
    // Controls the font size
    --text-font-size: var(--font-size, 12px);

    // Controls the font weight
    --text-font-weight: var(--font-weight, 400);

    // Controls the font style
    --text-font-style: var(--font-style, normal);

    // Controls the text color
    --text-color: var(--color, initial);

    sp-body {
        margin: 0;
        padding: 0;
        font-size: var(--text-font-size);
        font-weight: var(--text-font-weight);
        font-style: var(--text-font-style);
        color: var(--text-color);
    }
}
