<example-body>Controls {{showBrightnessControls ? 'shown because run in development' : 'hidden because run in production'}}  mode</example-body>
@if (showBrightnessControls) {
    <div style="flex: 0 0 40px; display: flex; padding-bottom: 10px">
        <button (click)="setInterface('darkest')">Darkest</button>
        <button (click)="setInterface('dark')">Dark</button>
        <button (click)="setInterface('light')">Light</button>
        <button (click)="setInterface('lightest')">Lightest</button>
    </div>
}

<example-body style="padding-bottom: 10px" [highlight]="'var(--theme-highlight)'">Highlight color depends on theme!</example-body>

<div style="flex: 0 0 40px; display: flex; padding-bottom: 10px">
        <input type="text" [value]="inputValue" (input)="onInput($event)">
        <button (click)="list.add(inputValue); inputValue = ''">Add</button>
</div>

<ol style="min-height: 0; flex: 1 1 100%; overflow-y:auto; padding-bottom: 10px">
    @for (item of list.get(filterValue); track $index) {
        <li>
            <example-body>{{item}}</example-body>
        </li>
    }
</ol>

<input style="flex: 0 0 20px;" type="text" (input)="onFilter($event)">
